/* =================== GOOGLE FONTS =================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&display=swap');

/* =================== VARIÁVEIS CSS =================== */
:root{
    --altura-cabecalho: 3.5rem;

    /* =================== CORES =================== */
    --cor-principal: #1c9c38;
    --cor-principal-alternativa: #006a2b;
    --primeiro-gradiente: linear-gradient(90deg,
                            #16903b 0%,
                            #74be4b 100%);
    --segundo-gradiente: linear-gradient(90deg,
                            #16903b 0%,
                            #74be4b 100%);
    --terceiro-gradiente: linear-gradient(90deg,
                            #16712e 0%,
                            #4eb540 100%);
    --cor-titulo: hsl(0, 0%, 95%);
    --cor-texto: hsl(0, 0%, 70%);
    --cor-corpo: hsl(0, 0%, 12%);
    --cor-container: hsl(0, 0%, 15%);

    /* =================== FONTES E TIPOGRAFIA =================== */
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --tamanho-fonte-gigante: 2.25rem;
    --tamanho-fonte-grande: 1.5rem;
    --tamanho-fonte-h1: 1.5rem;
    --tamanho-fonte-h2: 1.25rem;
    --tamanho-fonte-h3: 1rem;
    --tamanho-fonte-normal: .938rem;
    --tamanho-fonte-pequena: .813rem;
    --tamanho-fonte-minuscula: .75rem;

    /* =================== GROSSURA FONTE =================== */
    --grossura-regular: 400;
    --grossura-media: 500;
    --grossura-semi-negrito: 600;
    --grossura-negrito: 700;
    --grossura-super-negrito: 900;

    /* =================== Z INDEX =================== */
    --z-tooltip: 10;
    --z-fixo: 100;
}

/* =================== TIPOGRAFIA RESPONSIVA =================== */
@media screen and (min-width: 1152px) {
    :root {
        --tamanho-fonte-gigante: 4rem;
        --tamanho-fonte-grande: 3.5rem;
        --tamanho-fonte-h1: 2.25rem;
        --tamanho-fonte-h2: 1.5rem;
        --tamanho-fonte-h3: 1.25rem;
        --tamanho-fonte-normal: 1rem;
        --tamanho-fonte-pequena: .875rem;
        --tamanho-fonte-minuscula: .813rem;
    }
}

/* =================== VARIÁVEIS TEMA ESCURO =================== */
body.dark-theme {
    --cor-titulo: hsl(0, 0%, 12%);
    --cor-texto: hsl(0, 0%, 50%);
    --cor-corpo: hsl(0, 0%, 96%);
    --cor-container: hsl(0, 0%, 100%);
}

/* =================== BASE =================== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
button,
body {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte-normal);
}

body {
    background-color: var(--cor-corpo);
    color: var(--cor-texto);
}

input,
button {
    border: none;
    outline: none;
}

h1, h2, h3, h4 {
    color: var(--cor-titulo);
    font-family: var(--fonte-secundaria);
    font-weight: var(--grossura-semi-negrito);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =================== CLASSES CSS REUTILIZÁVEIS =================== */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 5rem 1rem;
}

.section__titulo {
    font-size: var(--tamanho-fonte-grande);
    margin-bottom: 1.5rem;
    text-align: center;
}

.main {
    overflow: hidden;
}

/* =================== BOTÕES =================== */
.button {
    display: inline-block;
    background: var(--terceiro-gradiente);
    padding: .75rem 1.8rem;
    border-radius: 4rem;
    color: #FFF;
}

.button,
.botao__link,
.botao__redes {
    font-weight: var(--grossura-media);
}

.botao__link {
    display: flex;
    align-items: center;
    column-gap: .6rem;
}

/* =================== HEADER E NAV =================== */
.header {
    position: fixed;
    width: 100%;
    background-color: hsl(0, 0%, 8%);
    top: 0;
    left: 0;
    z-index: var(--z-fixo);
    transition: background .4s;
}

.nav {
    height: var(--altura-cabecalho);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #FFF;
    font-family: var(--fonte-secundaria);
    font-weight: var(--grossura-media);
    transition: color .4s;
}

.nav__logo span {
    background: var(--terceiro-gradiente);
    font-size: var(--tamanho-fonte-minuscula);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav__toggle,
.nav__fechar {
    display: flex;
    cursor: pointer;
}

.nav__toggle {
    font-size: 1.25rem;
    color: #FFF;
    transition: color .4s;
}

/* Dispositivos mobile */
@media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        left: 0;
        top: -100%;
        background-color: var(--cor-corpo);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
        transition: top .4s;
    }
}

.nav__lista {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    color: var(--cor-texto);
}

.nav__link:hover {
    background: var(--terceiro-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav__fechar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--cor-titulo);
}

/* Mostar Menu */
.mostrar-menu {
    top: 0;
}

/* Mudar background cabeçalho */
.bg-header {
    background-color: var(--cor-corpo);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}

.bg-header :is(.nav__logo, .nav__toggle) {
    color: var(--cor-titulo);
}

/* Link ativo */
.link-ativo {
    background: var(--terceiro-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* =================== HOME =================== */
.home {
    position: relative;
}

.home__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: hsl(0, 0%, 8%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 88%);
}

.home__container {
    position: relative;
    padding-top: 2.5rem;
    row-gap: 3.5rem;
}

.home__conteudo {
    row-gap: 3rem;
}

.home__dados {
    text-align: center;
}

.home__subtitulo {
    background: var(--terceiro-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: var(--tamanho-fonte-normal);
    margin-bottom: .5rem;
}

.home__titulo {
    color: #FFF;
    font-size: var(--tamanho-fonte-grande);
    font-weight: var(--grossura-media);
    margin-bottom: 1.5rem;
}

.home__botoes {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.home__botoes .button {
    box-shadow: 0 4px 12px hsla(0, 0%, 0%, .8);
}

.botao__redes {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 2rem;
}

.botao__redes:hover {
    background: var(--terceiro-gradiente);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.home__info {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    text-align: center;
}

.home__info-titulo {
    color: #FFF;
    font-size: var(--tamanho-fonte-h1);
    font-weight: var(--grossura-media);
    margin-bottom: .5rem;
}

.home__info-titulo span {
    color: var(--cor-principal);
}

.home__info-subtitulo {
    font-size: var(--tamanho-fonte-pequena);
}

.home__blob {
    width: 250px;
    height: 320px;
    border: 6px solid transparent;
    background: var(--primeiro-gradiente) padding-box,
                linear-gradient(90deg,
                #16712e 0%,
                #4eb540 100%) border-box;
    border-radius: 20rem 20rem 0 0;
    z-index: 2;
}

.home__imagem {
    position: relative;
    justify-self: center;
}

.home__luz {
    position: relative;
    transform: scale(-1) translateY(10px);
    width: 800px;
    height: 180px;
    mask-image: linear-gradient(to bottom, transparent, black); /* Gradiente de transparente a opaco */
    -webkit-mask-image: linear-gradient(to bottom, transparent, black);
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.home__interruptor {
    position: absolute;
    bottom: 60px; /* Ajuste a distância vertical aqui conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 50px;
    background: #212121;
    border-radius: 10px;
    z-index: 3; /* Define o elemento atrás da imagem */
}

.home__interruptor input {
    appearance: none;
}

.home__interruptor span {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 50px;
    background: #333;
    border: 6px solid #212121;
    border-radius: 14px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__interruptor input:checked ~ span {
    left: 75px;
}

.home__interruptor span i {
    color: rgba(255,255,255,0.25);
    font-size: 2em;
    transition: 0.5s;
}

.home__interruptor input:checked ~ span i {
    color: #fff00f;
    filter: drop-shadow(0 0 5px #fff00f) drop-shadow(0 0 10px #fff00f) drop-shadow(0 0 15px #fff00f);
}

.home__shadow {
    position: absolute;
    width: 200px;
    height: 30px;
    background: hsla(118, 95%, 16%, .6);
    bottom: -.75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    filter: blur(12px);
    z-index: -1;
}

.home__img {
    display: block;
    width: 220px;
    margin: 0 auto;
    transform: translateY(-6px);
    position: relative;
  }


.home__blob-titulo {
    text-align: center;
    font-size: var(--tamanho-fonte-grande);
    letter-spacing: 2px;
    color: var(--cor-titulo);
    font-weight: var(--grossura-semi-negrito);
    margin-top: 1rem;
}

/* =================== SOBRE =================== */
  .sobre__container {
    row-gap: 3rem;
    z-index: 10;
  }

  .sobre__dados {
    text-align: center;
    z-index: 10;
  }

  /* .sobre__subtitulo {
    font-size: var(--tamanho-fonte-grande);
    -webkit-text-stroke: 2px var(--cor-container);
    color: transparent;
  } */

  .sobre__titulo {
    font-size: var(--tamanho-fonte-h1);
    font-weight: var(--grossura-super-negrito);
    font-family: var(--fonte-titulo);
    margin: .5rem 0 2rem 0;
    letter-spacing: 10px;
    color: var(--cor-titulo);

  }

  .sobre__descricao {
    /* margin-bottom: 2rem; */
    text-align: justify;
    color: var(--cor-texto);
    font-size: var(--tamanho-fonte-normal);
    font-weight: var(--grossura-media);
    z-index: 1;
  }

  .sobre__imagem {
    position: relative;
    justify-self: center;
    overflow: hidden;
    height: 300px;
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);

  }

  .sobre__img {
    width: auto;
    border-radius: 4px;
    height: 100%;

  }

    /* =================== NOS ESCOLHA =================== */
    .escolha__container{
        display: grid;
        align-items: center;
        justify-content: space-between;
        column-gap: 3rem;
        overflow-x: hidden;
        z-index: 100;
    }

  .titulo__escolha {
    font-weight: var(--grossura-super-negrito);
    font-family: var(--fonte-secundaria);
    margin: .5rem 0 2rem 0;
    letter-spacing: 5px;
    /* background: var(--cor-gradiente-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: var(--tamanho-fonte-grande);
    overflow-x: hidden;
    text-align: center;
  }

  .titulo__escolha span {
    background: var(--terceiro-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--tamanho-fonte-grande);
  }

  .subtitulo__escolha {
    display: block;
    font-size: var(--tamanho-fonte-pequena);
    color: var(--cor-principal-clara);
  }

  .escolha__descricao {
    font-size: var(--tamanho-fonte-normal);
    margin-bottom: 3rem;
  }

  .escolha__accordion{
    display: grid;
    row-gap: 2rem;
  }

  .escolha__accordion-item {
    position: relative;
    border-radius: .5rem;
    padding: 1rem .75rem;
    overflow: hidden;
  }

  .escolha__accordion-header{
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .escolha__accordion-icon{
    /* background-color: var(--cor-principal-alternativa); */
    padding: 5px;
    border-radius: .25rem;
    font-size: 18px;
    background: var(--terceiro-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: .75rem;
    transition: .3s;
  }

  .escolha__accordion-title{
    font-size: var(--tamanho-fonte-pequena);
    color: var(--cor-titulo);
  }

  .escolha__accordion-arrow{
    display: inline-flex;
    padding: .25rem;
    color: var(--cor-titulo);
    border-radius: 2px;
    font-size: 1.5rem;
    margin-left: auto;
    transition: .3s;
  }

  .escolha__accordion-arrow i{
    transition: .4s;
  }

  .escolha__accordion-description{
    font-size: var(--tamanho-fonte-pequena);
    padding: 1.25rem 2.5rem 0 2.75rem;
  }

  .escolha__accordion-content{
    overflow: hidden;
    height: 0;
    transition: all .25s ease;
  }

  /*Rotate icon and add shadows*/
  .accordion-open{
    box-shadow: 0 12px 32px hsla(228, 66%, 45%, .1);
  }

  .accordion-open .escolha__accordion-icon{
    box-shadow: 0 4px 4px hsla(228, 66%, 45%, .1);
  }

  .accordion-open .escolha__accordion-arrow{
    box-shadow: 0 2px 4px hsla(228, 66%, 45%, .1)
  }

  .accordion-open .escolha__accordion-arrow{
    transform: rotate(-180deg);
  }

  /* =================== ENERGIA SOLAR =================== */
  .solar__container {
    padding-top: 2.5rem;
  }

  .solar__bg {
    row-gap: 0;
    background-color: var(--cor-container);
    padding: 0 1.5rem 3.5rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 12px 12px 32px hsla(228, 66%, 45%, .1);
    position: relative;
    overflow: hidden;
  }

  .solar__bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    background: linear-gradient(#74be4b, #fff00f, #4eb540, #74be4b, #16903b);
  }

  .solar__bg::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: var(--cor-container);
    border-radius: .35rem;
  }

  @keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
  }

  .solar__imagem {
    position: relative;
    justify-self: center;
    z-index: 2;
  }

  .solar__img {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  .img__sol {
    position: absolute;
  }

  .solar__conteudo {
    row-gap: 2rem;
    z-index: 2  ;
  }

  .solar__dados {
    text-align: center;
  }

  .solar__btn {
    align-items: center;
    text-align: center;
    margin-top: 5rem;
  }

  .solar__botao {
    cursor: pointer;
    padding-block: 1.1rem;
    display: inline-block;
    background: var(--primeiro-gradiente);
    color: #FFF;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: .75rem;
    box-shadow: 0 24px 32px hsla(118, 95%, 16%, .3);
    font-weight: var(--grossura-media);
  }

  .solar__titulo {
    text-align: center !important;
    color: ;
  }

/* =================== PRODUTOS =================== */
  .produtos{
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .produtos__dados {
    text-align: center;
  }

  .produtos__conteudo {
    padding-block: 2.5rem 5rem;
    overflow: hidden;
    text-align: center;
  }

  .produtos__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .produtos__card {
    position: relative;
    width: 200px;
    height: 322px;
    background-color: var(--cor-container);
    border-radius: .5rem;
    padding: .75rem .75rem 1rem;
    margin-inline: 1rem;
    box-shadow: 0 12px 16px hsla(0, 0%, 0%, .1);
  }

  .produtos__blob {
    background-color: var(--cor-corpo);
    height: 200px;
    margin-bottom: .75rem;
  }

  .produtos__img {
    display: block;
    height: 200px;
    border-radius: .5rem;
    margin: 0 auto;
  }

  .produtos__nome {
    font-size: var(--tamanho-fonte-h2);
    margin-bottom: .75rem;
    font-weight: var(--grossura-semi-negrito);
    text-align: center;
  }

  .produtos__subtitulo {
    display: block;
    font-size: var(--tamanho-fonte-pequena);
    font-family: var(--fonte-secundaria);
    font-weight: var(--grossura-media);
    text-align: center;
  }

  .produtos__preco {
    font-size: var(--tamanho-fonte-h1);
  }

  .produtos__preco span{
    color: var(--cor-principal-alternativa);
  }

  .produtos__botao {
    display: inline-flex;
    padding: .25rem;
    background: var(--terceiro-gradiente);
    border-radius: .5rem;
    font-size: 1.25rem;
    color: #fff;
    box-shadow: 0 2px 8px hsla(15, 68%, 32%, .4);
    position: absolute;
    right: 0.75rem;
    bottom: 1rem;
    cursor: pointer;
  }

  /* Customização Slider */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: '';
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 0.75rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--cor-container);
    padding: 4px;
    border-radius: 50%;
    font-size: 1.8rem;
    color: var(--cor-principal-alternativa);
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
  }

  .swiper-button-prev {
    left: calc(50% - 3rem);
  }

  .swiper-button-next {
    right: calc(50% - 3rem);
  }

  /* =================== DEPOIMENTOS =================== */
  .depoimento{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .depoimento__dados {
      text-align: center;
      z-index: 10;
    }
    
    .depoimento__container {
      margin-top: 4rem;
      z-index: 10;
    }
    
    .depoimento__card {
      background-color: var(--cor-container);
      padding: 1.25rem 1.5rem;
      border-radius: 1.5rem;
      margin-bottom: .5rem;
      border: 2px solid var(--cor-principal-alternativa);
      box-shadow: 0 8px 20px hsla(196, 6%, 16%, .6);
  }
  
  .depoimento__img {
      height: 60px;
      border-radius: 100%;
      margin-bottom: 1rem;
  }
  
  .depoimento__nome {
      font-size: var(--tamanho-fonte-normal);
      font-weight: var(--grossura-negrito);
      margin-bottom: .25rem;
  }
  
  .depoimento__descricao {
    font-size: var(--tamanho-fonte-pequena);
    margin-top: .5rem;
    text-align: justify;
    max-height: 100px; /* Defina uma altura máxima para a descrição */
    overflow: hidden; /* Esconda o conteúdo que ultrapassar a altura máxima */
    word-wrap: break-word; /* Quebra de palavras para a próxima linha */
  }
    
    .swiper__depoimentos, .swiper-wrapper-depoimento {
      margin-left: 1.5rem !important;
      margin-right: .9rem !important;
    }
    
    .swiper-pagination-bullet {
      background-color: var(--cor-principal-alternativa) !important;
    }
  
    /* Estilos da paginação do Swiper */
    .swiper-pagination-depoimentos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Adicione um espaçamento superior se desejar */
    }
  
    .swiper-pagination-depoimentos .swiper-pagination-bullet {
        margin: 0 5px; /* Ajuste o espaçamento horizontal entre os bullets */
        width: 10px; /* Defina a largura do bullet, se necessário */
        height: 10px; /* Defina a altura do bullet, se necessário */
        border-radius: 50%; /* Deixa o bullet redondo */
        background-color: #ccc; /* Cor dos bullets */
        cursor: pointer;
    }
  
    .swiper-pagination-depoimentos .swiper-pagination-bullet-active {
        background-color: #333; /* Cor do bullet ativo */
    }
  
    .depoimento__btn {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      z-index: 10;
      cursor: pointer;
      display: inline-block;
      background: var(--primeiro-gradiente);
      color: #FFF;
      width: max-content;
      padding: 1rem 2rem;
      border-radius: .75rem;
      box-shadow: 0 24px 32px hsla(118, 95%, 16%, .3);
      font-weight: var(--grossura-media);
      text-align: center;
      align-self: center;
    }

    
      /* Modal */
    
      .habilidade__modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        text-align: center;
    }
    
    .habilidade__modal-content {
        position: relative;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: .5rem;
    }
    
    .contact__content .caracteres{
      position: absolute;
      top: 315px;
      right: 50px;
      display: flex;
      align-items: center;
      color: var(--cor-texto);
      font-weight: var(--grossura-negrito);
    }
    
    .contact__label {
      font-size: var(--tamanho-fonte-normal);
      color: var(--cor-titulo);
      font-weight: var(--grossura-negrito);
      margin-bottom: 1rem;
    }
    
    .contact__content {
      border-radius: .5rem;
      padding: .75rem 1rem .25rem;
    }
    
    .contact__input {
      width: 100%;
      background-color: hsla(196, 6%, 16%, .2);
      color: var(--cor-texto);
      font-family: var(--fonte-principal);
      font-size: var(--tamanho-fonte-normal);
      border: none;
      outline: none;
      padding: .25rem .5rem .5rem .2rem;
      border-radius: .5rem;
    }
    
    .depoimento__button {
      margin: 2rem;
    }
    
    .botao__depoimento {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        z-index: 10;
        cursor: pointer;
        display: inline-block;
        background: var(--primeiro-gradiente);
        color: #FFF;
        width: max-content;
        padding: 1rem 2rem;
        border-radius: .75rem;
        box-shadow: 0 24px 32px hsla(118, 95%, 16%, .3);
        font-weight: var(--grossura-media);
        text-align: center;
        align-self: center;
    }

    .habilidade__modal-title {
        font-size: var(--tamanho-fonte-h3);
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    
    .habilidade__modal-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: var(--cor-titulo);
        cursor: pointer;
    }
    
    .habilidade__modal-icon {
        color: var(--cor-titulo);
        margin-right: .25rem;
        font-size: 1.2rem;
    }
    
    /* modal ativo */
    
    .active-modal {
        opacity: 1;
        visibility: visible;
    }

/* =================== CONTATO =================== */
.contato__container {
    row-gap: 2rem;
}

.contato__imagens {
    position: relative;
    display: flex;
    justify-content: center;
}

.contato__orbe {
    width: 226px;
    height: 316px;
    background-color: hsl(228, 24%, 97%);
    border-radius: 135px 135px 16px 16px;
}

.contato__img {
    position: absolute;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 125px 125px 12px 12px;
    inset: 0;
    margin: auto;
    box-shadow: 0 16px 32px hsla(228, 66%, 25%, .25);
}

.contato__img img {
    height: 300px;
}

.contato__descricao {
    font-size: var(--tamanho-fonte-pequena);
    margin-bottom: 2.5rem;
}

.contato__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem .75rem;
}

.contato__card-box {
    background-color: var(--cor-corpo);
    padding: 1.25rem .75rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
}

.contato__card-info {
    display: flex;
    align-items: flex-start;
    column-gap: .75rem;
    margin-bottom: 1.25rem;
}

.contato__card i {
    padding: 6px;
    background: var(--cor-principal);
    border-radius: 6px;
    font-size: 1.25rem;
    color: var(--cor-titulo);
}

.contato__card-titulo {
    font-size: var(--tamanho-fonte-normal);
}

.contato__card-descricao {
    font-size: var(--tamanho-fonte-minuscula);
}

.contato__card-botao {
    font-size: var(--tamanho-fonte-pequena);
    padding: 14px 0;
    width: 100%;  
    cursor: pointer;
    padding-block: 1.1rem;
    display: inline-block;
    background: var(--primeiro-gradiente);
    color: #FFF !important;
    border-radius: .75rem;
    font-weight: var(--grossura-media);
    text-align: center  ;
    text-decoration: none;
}

/* =================== DÚVIDAS =================== */
.duvidas {
    background-color: var(--cor-container);
}

.duvidas__container {
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.duvidas__grupo {
    display: grid;
    row-gap: 1.5rem;
}

.duvidas__item {
    background-color: var(--cor-container);
    border-radius: .25rem;
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
}

.duvidas__item-titulo {
    font-size: var(--tamanho-fonte-pequena);
    font-weight: var(--grossura-media);
}

.duvidas__icone {
    font-size: 1.25rem;
    color: var(--cor-titulo);
}

.duvidas__descricao {
    font-size: var(--tamanho-fonte-minuscula);
    padding: 0 1.25rem 1.25rem 2.5rem;
}

.duvidas__header {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    padding: .75rem .5rem;
    cursor: pointer;
}

.duvidas__conteudo {
    overflow: hidden;
    height: 0;
}

.duvidas__item,
.duvidas__header,
.duvidas__item-titulo,
.duvidas__icone,
.duvidas__descricao,
.duvidas__conteudo {
    transition: .3s;
}

.duvidas__titulo {
    text-align: center !important;
}

/* =================== FOOTER =================== */
.footer__container {
    row-gap: 3rem;
}

.footer__logo {
    height: 150px;
}

.footer__titulo {
    font-size: var(--tamanho-fonte-h3);
    margin-bottom: 1.5rem;
}

.footer__dados {
    display: grid;
    row-gap: .75rem;
}

.footer__informacao {
    font-size: var(--tamanho-fonte-pequena);
}

.footer__social {
    display: inline-flex;
    column-gap: .75rem;
}

.footer__social-link {
    font-size: var(--tamanho-fonte-h2);
    color: var(--cor-texto);
    transition: .3s;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    text-align: center;
    font-size: var(--tamanho-fonte-pequena);
    color: var(--cor-titulo);
    margin: 5rem 0 1rem;
}

/* =================== SCROLL BAR =================== */
/* Largura da barra de rolagem */
body {
    scrollbar-width: .6rem;
    scrollbar-color: #cccccc hsl(0, 0%, 75%);
}

/* Estilizando o polegar da barra de rolagem */
body::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 65%);
    border-radius: 0.5rem;
}

/* Estilizando a parte de trás da barra de rolagem */
body::-webkit-scrollbar-track {
    background-color: hsl(0, 0%, 55%);
}

::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 75%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 55%);
}

/* =================== SCROLL UP =================== */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: var(--cor-container);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    color: var(--cor-titulo);
    border-radius: .25rem;
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, .1);
    z-index: var(--z-tooltip);
    transition: bottom .4s, trasnform .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}

/* Mostrar seta */

.mostrar-scrollup {
    bottom: 3rem;
}

/* =================== BREAKPOINTS =================== */
/* Para dispositivos pequenos */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .home__buttons {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }

    .home__titulo {
        font-size: 1.75rem;
    }

    .solar__bg {
        padding: 0 .5rem 2rem .5rem;
    }

    .habilidade__modal {
        padding: 0 .5rem;
    }

    .contato__card {
        grid-template-columns: repeat(1, 180px);
        justify-content: center;
    }
}


@media screen and (min-width: 576px) {
    .sobre__container {
        grid-template-columns: 380px;
        justify-content: center;
    }

    .solar__bg {
        grid-template-columns: 360px;
        justify-content: center;
        justify-self: center;
    }

    .produtos__descricao {
        width: 350px;
        margin: 0 auto;
    }

    .contato__img {
        width: 220px;
        height: 260px;
    }

    .contato__orbe {
        width: 236px;
        height: 280px;
    }

    .contato__card {
        grid-template-columns: repeat(2, 192px);
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .section__titulo,
    .home__dados,
    .home__info {
        text-align: initial;
    }

    .home__container {
        column-gap: 4rem;
        padding-bottom: 2rem;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .home__imagem {
        order: -1;
    }

    .home__bg {
        height: 110%;
    }

    .home__buttons,
    .home__info {
        justify-content: initial;
    }

    .escolha {
        background-position: center;
    }

    .escolha__container{
        grid-template-columns: repeat(2, 1fr);
        align-content: center;
    }

    .sobre__container {
        grid-template-columns: repeat(2, 350px);
        align-items: center;
    }

    .sobre__dados,
    .sobre__dados .section__titulo {
        text-align: initial;
    }

    .solar__descricao {
        text-align: justify;
    }

    .solar__bg {
        padding: 0 3rem;
    }

    .solar__btn {
        margin-top: 1.5rem;
        padding-bottom: 2rem;
    }

    .produtos__descricao {
        margin: initial;
    }

    .produtos__conteudo {
        max-width: 700px;
    }

    .produtos__dados h2 {
        text-align: center;
    }

    .habilidade__modal-content {
        width: 450px;
    }

    .contato__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .contato__imagens {
        order: 1;
    }

    .contato__card {
        justify-content: initial;
    }

    .duvidas__container {
        align-items: flex-start;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .footer__logo {
        width: 280px;
    }
}

/* Para dispositivos grandes */
@media screen and (min-width: 1024px) {
    .nav {
        column-gap: 4rem;
    }

    .nav__fechar,
    .nav__toggle {
        display: none;
    }

    .nav__lista {
        flex-direction: row;
        column-gap: 4rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .dark-theme .nav__menu {
        box-shadow: none;
    }

    .sobre__container {
        grid-template-columns: 400px 500px;
        column-gap: 8.5rem;
        padding-block: 1rem;
    }

    .sobre__descricao {
        margin-bottom: 3rem;
    }

    .sobre__imagem {
        height: 400px;
    }

    .sobre__img {
        width: 400px;
    }

    .escolha__container{
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        max-width: 1200px;
    }

    .escolha__description{
        font-size: var(--tamanho-fonte-normal);
        margin-bottom: 2.5rem;
    }

    .escolha__accordion-title{
        font-size: var(--tamanho-fonte-normal);
    }

    .escolha__accordion-item{
        padding: 1.25rem 1.25rem 1.25rem 1rem;
    }

    .escolha__accordion-description{
        padding-bottom: 1rem;
        font-size: var(--tamanho-fonte-pequena);
    }

    .solar__descricao {
        font-size: var(--tamanho-fonte-normal);
    }

    .solar__container {
        padding-block: 9rem 5rem;
    }

    .solar__bg {
        grid-template-columns: 450px 400px;
        justify-self: initial;
        height: 442px;
        column-gap: 6rem;
        padding-inline: 6rem;
        align-items: center;
    }

    .solar__imagem {
        transform: translateY(.5rem);
    }

    .solar__img {
        width: 600px;
    }

    .solar__container {
        row-gap: 3rem;
        padding-bottom: 5rem;
    }

    .solar__btn {
        margin-top: 2rem;
        padding-bottom: 0rem;
    }

    .depoimento__container {
        width: 750px;
    }
  
    .depoimento__btn {
      margin-top: 3rem;
    }
  
    .swiper__depoimentos, .swiper-wrapper-depoimento {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .contato__container {
        align-items: flex-start;
        column-gap: 5rem;
    }

    .contato__orbe {
        width: 501px;
        height: 641px;
        border-radius: 258px 258px 16px 16px;
    }

    .contato__img {
        width: 461px;
        height: 601px;
        border-radius: 238px 238px 12px 12px;
    }

    .contato__img img {
        height: 601px;
    }

    .contato__descricao {
        font-size: var(--tamanho-fonte-normal);
        margin-bottom: 2.5rem;
    }

    .contato__card {
        grid-template-columns: repeat(2, 200px);
    }

    .contato__card-box {
        padding: 28px 1.5rem 1.5rem;
    }

    .duvidas__container {
        padding: 1rem 0 4rem;
    }

    .duvidas__titulo {
        text-align: initial;
    }

    .duvidas__grupo {
        row-gap: 2rem;
    }

    .duvidas__header {
        padding: 1rem;
    }

    .duvidas__descricao {
        padding: 0 3.5rem 2.25rem 2.75rem;
    }

    .footer__logo {
        width: 350px;
        height: 250px;
    }

    .footer__container {
        grid-template-columns: 1fr .5fr .5fr .5fr;
    }

    .footer__copy {
        margin: 7rem 0 2rem;
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }

    .section {
        padding-block: 7rem 2rem;
    }

    .nav {
        height: calc(var(--altura-cabecalho) + 1.5rem);
    }

    .home__container {
        grid-template-columns: 530px 465px;
        justify-content: center;
        padding-top: 3.5rem;
        column-gap: 7.5rem;
    }

    .home__bg {
        height: 100%;
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); */
    }

    .home__blob {
        width: 530px;
        height: 670px;
        border: 10px solid transparent;
    }

    .home__img {
        width: 480px;
        transform: translateY(-10px);
    }

    .home__shadow {
        width: 435px;
        height: 60px;
        bottom: -2rem;
        filter: blur(28px);
    }


    .home__conteudo {
        row-gap: 4.5rem;
        padding-bottom: 5rem;
    }

    .home__subtitulo {
        font-size: var(--tamanho-fonte-h3);
        margin-bottom: .75rem;
    }

    .home__titulo {
        margin-bottom: 2.5rem;
    }

    .home__buttons {
        column-gap: 2.5rem;
    }

    .home__info {
        column-gap: 4.5rem;
        text-align: initial;
    }

    .home__info-titulo {
        font-size: 2.75rem;
    }

    .home__info-subtitulo {
        font-size: var(--tamanho-fonte-normal);
    }

    .home__interruptor {
        width: 200px;
        height: 75px;
        margin-top: 7rem;
    }

    .home__interruptor input:checked ~ span {
        left: 100px;
    }

    .home__interruptor span {
        width: 100px;
        height: 75px;
    }

    .home__luz {
        position: relative;
        transform: scale(-1) translateY(19px);
        width: 800px;
        height: 360px;
        mask-image: linear-gradient(to bottom, transparent, black); /* Gradiente de transparente a opaco */
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        z-index: 100;
        pointer-events: none;
    }

    .produtos__descricao {
        width: 450px;
        font-size: var(--tamanho-fonte-normal);
    }

    .produtos__conteudo {
        padding-block: 5rem;
        max-width: 1064px;
    }

    .produtos__card {
        width: 230px;
        height: 410px;
        padding: 1rem 1rem 1.5rem;
    }

    .produtos__blob {
        height: 240px;
        margin-bottom: 2rem;
    }

    .produtos__img {
        height: 240px;
    }

    .produtos__nome {
        font-size: var(--tamanho-fonte-h2);
    }

    .produtos__subtitulo {
        font-size: var(--tamanho-fonte-normal);
        margin-bottom: 1.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2rem;
    }

    .swiper-button-prev {
        left: calc(50% - 3.5rem);
    }

    .swiper-button-next {
        right: calc(50% - 3.5rem);
    }

    .produtos__botao {
        font-size: 1.8rem;
        border-radius: .75rem;
        right: 1rem;
        bottom: 1.5rem;
    }

    .solar__bg {
        height: 500px;
    }

    .solar__btn {
        margin-top: 2.75rem;
        padding-bottom: 0rem;
    }
}